{% extends "hagakure/base.html" %}
{% load static %}
{% block body %}

    {% if messages %}
        <div class="row justify-content-center">
            <div class="col-sm-4 align-self-center text-center text-danger">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="container p-3 my-3 border" style="margin-top:30px">
        <div class="row justify-content-center">
            <div class="col align-self-center text-center border-bottom">
                <p>
                    Nowy adress email będzie służył do logowania!
                </p>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top:30px">
            <div class="col-sm-6 align-self-center text-center">
                <form action="" class="form" method="POST">
                    {% csrf_token %}
                    <table class="table table-borderless">
                        <tr>
                            <th class="align-middle text-right">
                                <label for="email" class="font-weight-bold">Nowy e-mail:</label>
                            </th>
                            <td>
                                <input type="email" name="email" class="form-control" placeholder="Nowy e-mail" id="email">
                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle text-right">
                                <label for="email2" class="font-weight-bold">Powtórz e-mail:</label>
                            </th>
                            <td>
                                <input type="email" name="email2" class="form-control" placeholder="Powtórz e-mail" id="email2">
                            </td>
                        </tr>
                    </table>
                    <div class="form-group">
                        <input type="submit" class="btn btn-secondary" value="Zmień">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}