{% extends "hagakure/base.html" %}
{% load static %}
{% block body %}

    {% if messages %}
        <div class="row justify-content-center">
            <div class="col-sm-4 align-self-center text-center text-danger">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="container p-3 my-3 border" style="margin-top:30px">
        <div class="row justify-content-center">
            <div class="col-sm-6 align-self-center">
                <form action="" method="POST" class="form">
                    {% csrf_token %}
                    <table class="table table-borderless">
                    <tr>
                        <th class="align-middle">
                            <label for="password">Dotychczasowe hasło:</label>
                        </th>
                        <td>
                            <div class="input-group">
                                    <input type="password" class="form-control pwd" placeholder="Dotychczasowe hasło" id="password" name="password">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-outline-secondary" id="reveal" type="button">
                                            <i class="fa fa-eye" id="eye"></i>
                                        </button>
                                    </span> 
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle">
                            <label for="new_password1">Nowe hasło:</label>
                        </th>
                        <td>
                            <div class="input-group">
                                    <input type="password" class="form-control pwd" placeholder="Nowe hasło" id="new_password" name="new_password1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-outline-secondary" id="reveal" type="button">
                                            <i class="fa fa-eye" id="eye"></i>
                                        </button>
                                    </span> 
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle">
                            <label for="new_password2">Powtórz nowe hasło:</label>
                        </th>
                        <td>
                            <div class="input-group">
                                    <input type="password" class="form-control pwd" placeholder="Powtórz hasło" id="new_password2" name="new_password2">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-outline-secondary reveal" type="button">
                                            <i class="fa fa-eye" id="eye"></i>
                                        </button>
                                    </span> 
                            </div>
                        </td>
                    </tr>
                    </table>
                    <div class="row justify-content-center">
                        <div>
                            <input type="submit" class="btn btn-secondary font-weight-bold" value="Zmień">
                            <a class="btn btn-danger font-weight-bold" href="{% url 'user_details' %}">Anuluj</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
 {% endblock %}