{% extends "hagakure/base.html" %}
{% load static %}
{% block body %}
    
    <div class="container p-3 my-3 border" style="margin-top:30px">
        {% if messages %}
            <div class="row justify-content-center">
                <div class="col-sm-4 align-self-center text-center text-danger">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-sm-4 align-self-center text-center">
                <form action="" class="form" method="POST">
                    {% csrf_token %}
                    <table class="table table-borderless">
                        <tr>
                            <th class="align-middle text-right">
                                <label for="email" class="font-weight-bold">e-mail:</label>
                            </th>
                            <td>
                                <input type="email" name="email" class="form-control" placeholder="e-mail" id="email">
                            </td>
                        </tr>
                        <tr>                            
                            <th class="align-middle text-right">
                                <label for="password" class="font-weight-bold">Hasło:</label>
                            </th>
                            <td>
                                <div class="input-group">
                                    <input type="password" class="form-control pwd" placeholder="Hasło" id="password" name="password">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-outline-secondary reveal" type="button">
                                            <i class="fa fa-eye" id="eye"></i>
                                        </button>
                                    </span> 
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="form-group">
                        <input type="submit" class="btn btn-secondary" value="Zaloguj">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}