<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>hagakure</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="../../static/img/kamon_no_text.gif" alt="kamon" style="width:30px;">
            </a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Aktualności</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Treningi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Artykuły</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">O nas</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container p-3 my-3 border" style="margin-top:30px">
        <div class="row justify-content-center">
            <div class="col-sm-4 align-self-center text-center">
                <form action="/" class="form" method="POST">
                    <table class="table table-borderless">
                        <tr>
                            <th class="align-middle text-right">
                                <label for="email" class="font-weight-bold">e-mail:</label>
                            </th>
                            <td>
                                <input type="email" name="email" class="form-control" placeholder="e-mail" id="email">
                            </td>
                        </tr>
                        <tr>                            
                            <th class="align-middle text-right">
                                <label for="password" class="font-weight-bold">Hasło:</label>
                            </th>
                            <td>
                                <div class="input-group">
                                    <input type="password" class="form-control pwd" placeholder="Hasło" id="password" name="password">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-outline-secondary reveal" type="button">
                                            <i class="fa fa-eye" id="eye"></i>
                                        </button>
                                    </span> 
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="form-group">
                        <input type="submit" class="btn btn-secondary" value="Zaloguj">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../../static/js/scripts.js"></script>
</body>