{% extends "hagakure/base.html" %}
{% load static %}
{% block body %}

    {% if messages %}
        <div class="row justify-content-center">
            <div class="col-sm-4 align-self-center text-center text-danger">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
            </div>
        </div>
    {% endif %}
    
    <div class="container p-3 my-3 border" style="margin-top:30px">
        <div class="row justify-content-center">
            <div class="col align-self-center text-center border-bottom">
                <p>
                    Dla bezpieczeństwa podaj hasło, żebyśmy wiedzieli, że to Ty chcesz zmienić adres e-mail, 
                    który jest używany do logowania się na stronie!
                </p>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top:30px">
            <div class="col-sm-6 align-self-center text-center">
                <form action="" class="form" method="POST">
                    {% csrf_token %}
                    <table class="table table-borderless">
                         <tr>                            
                            <th class="align-middle text-right">
                                <label for="password" class="font-weight-bold">Hasło:</label>
                            </th>
                            <td>
                                <div class="input-group">
                                    <input type="password" class="form-control pwd" placeholder="Hasło" id="password" name="password">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-outline-secondary reveal" type="button">
                                            <i class="fa fa-eye" id="eye"></i>
                                        </button>
                                    </span> 
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="form-group">
                        <input type="submit" class="btn btn-secondary" value="Potwierdź">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}