{% extends "hagakure/base.html" %}
{% load static %}
{% block body %}

    <div class="row justify-content-center border-bottom border-dark">
        <h2 style="margin:30px">
            Galeria
        </h2>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center" style="margin:30px">
            <div class="col-sm-10">
                <div class="card-columns">
                    {% for gallery in galleries %}
                        <a href="{{ gallery.get_absolute_url }}" class="text-body">
                            <div class="card" style="width:400px;height:300px">
                                {% if user.is_staff %}
                                    
                                    {% if not gallery.is_published %}
                                        <div class="card-img-overlay bg-danger text-white">
                                        <p class="text-center p-0 m-0">
                                            <small>Galeria nie widoczna na stronie</small>
                                        </p>
                                    {% elif not gallery.is_public %}
                                        <div class="card-img-overlay bg-secondary">
                                        <p class="text-center p-0 m-0">
                                            <small>Galeria widoczna tylko dla zalogowanych urzytkowników</small>
                                        </p>
                                    {% endif %}
                                    
                                {% endif %}
                                <div class="card-body">                                            
                                    {% for key, value in images.items %}                                                
                                        {% if key == gallery %}
                                            <img class="img-thumbnail card-img-bottom" src="{{ value.image.url }}" alt="Okładka">
                                        {% endif %}
                                    {% endfor %}
                                    <h4 class="card-title text-center pt-3">
                                        {{ gallery.title }}
                                    </h4>                                        
                                </div>
                                
                                {% if user.is_staff %}
                                    {% if not gallery.is_published or not gallery.is_public %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}