{% extends "hagakure/base.html" %}
{% load static %}
{% block body %}
{% load l10n %}

{% now "d-m-Y" as today %}

    <div class ="container-fluid p-3 text-center bg-light border-top border-bottom border-dark">
        <h1>Aktualności</h1>
    </div>
    <div class="container-fluid" style="margin-top:30px">
        <div class="row justify-content-center">
            <div class="col-sm-1 text-center border-right border-dark">
                <h4>Filtruj</h4>
                <div class="btn-group-vertical">
                    <button class="btn btn-sm active" onclick="filterSelection('all')">Wszystkie</button>
                    {% for year in creation_years %}
                        <button class="btn btn-sm" onclick="filterSelection('{{ year|date:"Y" }}')">{{ year|date:"Y" }}</button>
                        {% for month in creation_months %}
                            {% if month|date:"Y" == year|date:"Y" %}
                                
                                <div class="container-fluid filterBtn {{ year|date:"Y" }} {{ year|date:"Y" }}-{{ month|date:"M" }}">
                                    <button class="btn btn-sm" onclick="filterSelection('{{ year|date:"Y" }}-{{ month|date:"M" }}')">
                                        {{ month|date:"M"|localize }}
                                    </button>
                                </div>
                                
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-8 text-center">

                {% if not all_news %}
                    <h2>Jeszcze nie ma aktualności.</h2>
                {% endif %}

                {% for news in all_news %}
                    <div class="filterDiv {{ news.created_on|date:"Y"}} {{ news.created_on|date:"Y-M"|localize}}">
                        {% if news.is_published and news.expiration_date|date:"d-m-Y" > today or news.is_published and not news.expiration_date or user.is_staff %}

                            {% if news.is_public or user.is_authenticated %}
                                
                                {% if not news.is_published %}
                                <div class="bg-dark text-left text-white">
                                    <div class="pt-3 text-danger text-center border-bottom border-light">
                                        <h5>Aktualność nie została jeszcze opublikowana na stronie.</h5>
                                        <p class="pb-3">
                                        </p>
                                    </div>
                                {% elif user.is_staff and not news.is_public %}
                                
                                <div class="bg-secondary text-left text-dark">
                                    <div class="pt-3 text-dark text-center border-bottom border-light">
                                        <h5>Aktualność widoczna tylko dla zalogowanych użytkowników.</h5>
                                    </div>
                                
                                {% else %}
                                <div class="text-left p-3 border-bottom border-dark">
                                {% endif %}
                                    <div class="text-center pt-3" id="{{ news.pk }}">
                                        <h2 class="mb-0 pb-0">{{ news.title }}</h2>
                                        <small class="pb-3">({{ news.created_on|date:"d-m-Y H:i" }})</small>
                                    </div>
                                        <p>
                                            {{ news.body|safe }}
                                        </p>
                                        <p class="text-right" hidden>
                                            {{ news.author }}
                                        </p>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}