#banner-container {
    width: auto;
    height: 500px;
    text-align: center;
    overflow: hidden;
  }

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
  padding-top: 3.6rem;          /* navbar height */
  padding-bottom: 8.25rem;    /* Footer height */
  }
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8.25rem;            /* Footer height */
  }
#banner {
  background: url("../img/dojo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color:#f7f7f7;
  height: 500px;
}
#table-responsive {
  height:300px;
  overflow:scroll;
}
thead#responsive tr:nth-child(1) th {
  position: sticky;
  top: 0;
  z-index: 10;
}
#gallery{
  width: 400px;
  height: auto;
}

div:target{
  scroll-margin-top: 3.6rem; 
}

.filterDiv {
  display: none;
}

.filterBtn {
  display: none;
}

.show {
  display: block;
}

.ck-editor__editable_inline {
  min-height: 400px;
}