{% extends "hagakure/base.html" %}

{% block body %}

    <div class="container-fluid" style="margin-top:30px">
        <div class="row justify-content-center">
            <div class="col-sm-3 text-center border-right border-left border-dark">
                <h3>Cele Stowarzyszenia</h3>
                <p>
                    Lorem ipsum dolor sit amet. Consectetur adipiscing elit. In diam elit, aliquet ornare interdum eu, convallis vitae massa.
                    In eu placerat ex, sit amet iaculis eros. Quisque non tempor sapien. Curabitur tortor felis, placerat et vestibulum id,
                    bibendum dictum sem. Maecenas ac diam felis. In a erat bibendum, interdum
                </p>
                <h4>
                    <a class="text-decoration-none text-dark" href="#">Zobacz statut</a>
                </h4>
            </div>
            <div class="col-sm-6 text-center border-right border-left border-dark">
                <h3>Kim jesteśmy?</h3>
                <p>
                    Lorem ipsum dolor sit amet. Consectetur adipiscing elit. In diam elit, aliquet ornare interdum eu, convallis vitae massa.
                    In eu placerat ex, sit amet iaculis eros. Quisque non tempor sapien. Curabitur tortor felis, placerat et vestibulum id,
                    bibendum dictum sem. Maecenas ac diam felis. In a erat bibendum, interdum
                </p>
            </div>
            <div class="col-sm-3 text-center border-right border-left border-dark">
                <h3>Zarząd Stowarzyszenia</h3>
                <p>
                    Prezes Zarządu
                </p>
                <p>
                    Wiceprezes Zarządu
                </p>
                <p>
                    Skarbnik
                </p>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top:30px">
            <div class="col text-center">
                <h4>Nasze Dojo znajduje się:
                <h4>adres<h4>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d156389.09663022534!2d20.920769643054452!3d52.232854637170924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc669a869f01%3A0x72f0be2a88ead3fc!2sWarszawa!5e0!3m2!1spl!2spl!4v1608733815485!5m2!1spl!2spl" width="900" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>

        <div class="row justify-content-center" style="margin-top:30px">
            <div class="col text-center">
                <h4>Chcesz nas wesprzeć?</h4>
                <h4>Nasz nr konta to:</h4>
                <h4>00-0000-0000-0000-0000-0000-0000</h4>
            </div>
        </div>
    </div>
{% endblock %}