<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>hagakure</title>

	<link rel="icon" href="../../static/img/kamon_no_text.gif">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../static/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <header>
                <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="../../static/img/kamon_no_text.gif" alt="Logo" style="width:30px;">
                    </a>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Aktualności</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Treningi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Artykuły</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">O nas</a>
                            </li>
                            <!-- for logged users only -->
                            <li class="nav-item">
                                <a class="nav-link" href="#">Galeria</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Komunikator</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <!-- for not logged in users
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                <span class="glyphicon glyphicon-log-in"></span>Zaloguj</a>
                            </li>
                            -->
                            <!-- for logged in users -->
                            <div class="dropdown">
                                <button type="button" class="btn btn-light dropdown-toggle text-muted" data-toggle="dropdown">
                                    Imię użytkownika
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Mój Profil</a>
                                    <a class="dropdown-item" href="#">Moje treningi</a>
                                    <a class="dropdown-item" href="#">Wiadomości</a>
                                    <!-- if superuser -->
                                    <div class="dropdown-divider"> </div>
                                    <a class="dropdown-item" href="#">Zarządzaj stroną</a>
                                    <!-- if contributor -->
                                    <a class="dropdown-item" href="#">Dodaj Wpis</a>
                                    <!-- if trained -->
                                    <a class="dropdown-item" href="#">Zarządzaj treningami</a>
                                    <div class="dropdown-divider"> </div>
                                    <a class="dropdown-item" href="#">Wyloguj</a>
                                    
                                </div>
                        </ul>
                    </div>
                </nav>
            </header>
            <div class ="container-fluid p-3 text-center bg-light border-top border-bottom border-dark">
                <h1>Lorem Ipsum</h1>
                <h6>Autor: Gallus Anonymus</h6> 
            </div>
            
            <div class="row" style="margin-top:20px">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur neque a mollis maximus. 
                        Curabitur a vehicula nisi, et lobortis urna. Nullam congue at risus in hendrerit. Phasellus id mattis nisl. 
                        Nullam rhoncus consequat sapien, vehicula varius velit aliquam vel. Ut ultricies libero tempus, 
                        placerat risus nec, elementum lacus. In eros nibh, sodales at dictum ut, tristique et felis. 
                        Integer vestibulum lacus tortor, in semper ligula aliquam quis. Suspendisse sit amet nisi a massa vestibulum 
                        imperdiet ut nec odio. Donec venenatis lorem id magna volutpat, non dictum risus porttitor. Interdum et 
                        malesuada fames ac ante ipsum primis in faucibus. Duis placerat metus nisi, sit amet pharetra eros dignissim sit amet. 
                        Aliquam erat volutpat. Cras eleifend sapien nisl, nec vehicula lacus fermentum ut. Sed non pharetra lorem. 
                        Donec id ligula vitae lorem tempor sollicitudin.
                        <br><br>
                        Vestibulum scelerisque eu neque nec semper. Mauris vitae convallis ipsum. Nullam elementum non velit ac cursus. 
                        Duis euismod eleifend hendrerit. Nullam egestas bibendum lorem ut cursus. Duis quis tellus sollicitudin, auctor massa quis, 
                        hendrerit orci. Cras vel lectus at mi fringilla pellentesque eu eget risus. Curabitur nec fringilla est. Sed sollicitudin 
                        eros placerat nulla porta, quis suscipit nulla feugiat. Nam dui massa, egestas sit amet tristique ut, mollis in orci. 
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed tempor eros suscipit, 
                        gravida eros sodales, ultricies quam. Fusce posuere quam vitae orci aliquet bibendum. Integer facilisis lacus tincidunt 
                        tristique consequat.
                        <br><br>
                        Nunc neque lacus, vulputate ac feugiat vitae, sollicitudin ut justo. Aliquam aliquet tempor lectus sed interdum. 
                        Cras porta nunc a hendrerit faucibus. Nullam non lectus massa. Cras convallis enim in arcu sollicitudin, ut convallis 
                        neque porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies arcu vel magna malesuada tristique. 
                        Maecenas a metus viverra, ornare sem egestas, luctus tortor. Nullam vel nisi ante. Integer sodales eu ex sit amet scelerisque. 
                        Praesent cursus maximus libero, tempor ultrices tellus vestibulum eleifend. Duis aliquet dui ut sodales egestas. Duis non felis 
                        bibendum leo imperdiet dapibus mattis vehicula mi. Vivamus tristique rutrum lacus, et luctus justo eleifend vel.
                        <br><br>
                        Nulla egestas erat facilisis, aliquet purus vel, consectetur enim. Ut eu massa rhoncus, auctor risus a, elementum ligula. 
                        Vestibulum vel risus erat. Fusce dignissim vehicula magna et dictum. Aenean vitae sagittis enim. Donec id magna rhoncus dolor 
                        tincidunt eleifend. Sed nulla massa, euismod id sapien eget, convallis congue urna. Nullam euismod elit ac arcu interdum tempor. 
                        Aliquam massa dolor, sollicitudin eu felis sed, interdum molestie lorem. Curabitur placerat nibh et augue euismod pulvinar. 
                        Aliquam feugiat nisi a odio auctor ultrices. Morbi velit odio, varius at interdum ac, dapibus ut ante. Pellentesque vitae gravida 
                        arcu. Ut eget risus quis sem vestibulum ullamcorper ut a nunc.
                        <br><br>
                        Donec ac lacus ipsum. Duis egestas purus sapien. Donec et eros ligula. Quisque ultrices in elit vitae ornare. Duis tincidunt, 
                        elit ut porttitor rhoncus, neque arcu semper risus, sit amet faucibus mi erat id leo. Phasellus faucibus quam magna, quis 
                        pulvinar felis gravida vel. Nunc venenatis augue metus. Integer sapien metus, blandit ut semper sed, ultrices et ipsum. 
                        Quisque vitae tellus ac lectus ullamcorper tincidunt et varius quam. Nam vitae lorem ante. Phasellus euismod ullamcorper turpis, 
                        pretium viverra massa consequat vel. 
                    </p>
                </div>
                <div class="col-sm-2">
                </div>
            </div>

        </div>
        <footer class="footer" id="footer">
            <div class="container-fluid">
                <div class="row bg-danger border-top border-dark" style="margin-top:10px">
                    <div class="col-sm-3">
                        <div class="container-fluid pt-3 align-top">
                            <span class="text-white">Kontakt:<br><span>
                            <a href="malito:kontakt@kontakt.com" class="text-white">kontakt@kontakt.com</a><br>
                            <a href="http://facebook.com" class="text-white">
                                <i class="fa fa-facebook-square"> facebook</i>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center text-white">
                        <span style="font-size:30px">柔道</span><br>
                        Judo - łagodna droga
                    </div>
                    <div class="col-sm-3 text-white text-right">
                            <p class="py-0 my-0 font-weight-light">Stowarzyszenie Sportowe Hagakure</p>
                            <p class="py-0 my-0 font-weight-light">ul. Chmielna 2/31</p>
                            <p class="py-0 my-0 font-weight-light">00-020 Warszawa</p>
                            <p class="py-0 my-0 font-weight-light">NIP:00-00-000-000</p>
                            <p class="py-0 my-0 font-weight-light">REGON:000000000</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
	<script src="js/scripts.js"></script>
</body>