{% extends "hagakure/base.html" %}
{% load static %}
{% block body %}

    <div class ="container-fluid p-3 text-center bg-light border-top border-bottom border-dark">
        <h1>Artykuły</h1>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="btn btn-light" href="#">Wszystkie</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light" href="#">Historia</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light" href="#">Techniki</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light" href="#">Japonia</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light" href="#">Sztuki Walki</a>
            </li>
        </ul> 
    </div>
    <div class="container-fluid" style="margin-top:30px">
		<div class="row justify-content-center">
            <div class="col-sm-9 text-center">
                <a class="text-decoration-none text-dark" href="#">
                    <div class="container-fluid pb-5 px-5">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <div class="text-left">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit, mauris vel accumsan feugiat,
                                lorem lacus congue leo, sed maximus tellus est vitae purus. Donec rhoncus, tortor ut rhoncus dapibus,
                                elit nisi convallis turpis, vitae bibendum libero tortor venenatis purus. Aenean placerat massa vitae
                                pretium sollicitudin. Pellentesque sed odio imperdiet, sollicitudin dui in, molestie libero. Aliquam
                                imperdiet elit velit, vitae faucibus lacus ornare non. Quisque eu ex id libero mollis interdum. Vivamus
                                lobortis blandit lorem vel efficitur. Sed et magna arcu. Aliquam lectus augue, dignissim vitae massa vitae,
                                laoreet elementum ipsum. Aenean id ante dolor. Vestibulum euismod mi sed convallis.
                                ...
                            </p>
                        </div>
                        <div class="text-right">
                            Autor: Gallus Anonimus
                        </div>

                    </div>
                </a>
                <a class="text-decoration-none text-dark" href="#">
                    <div class="container-fluid pb-5 px-5">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <div class="text-left">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit, mauris vel accumsan feugiat,
                                lorem lacus congue leo, sed maximus tellus est vitae purus. Donec rhoncus, tortor ut rhoncus dapibus,
                                elit nisi convallis turpis, vitae bibendum libero tortor venenatis purus. Aenean placerat massa vitae
                                pretium sollicitudin. Pellentesque sed odio imperdiet, sollicitudin dui in, molestie libero. Aliquam
                                imperdiet elit velit, vitae faucibus lacus ornare non. Quisque eu ex id libero mollis interdum. Vivamus
                                lobortis blandit lorem vel efficitur. Sed et magna arcu. Aliquam lectus augue, dignissim vitae massa vitae,
                                laoreet elementum ipsum. Aenean id ante dolor. Vestibulum euismod mi sed convallis.
                                ...
                            </p>
                        </div>.
                        </p>
                        <div class="text-right">
                            Autor: Gallus Anonimus
                        </div>
                    </div>
                </a>
                <a class="text-decoration-none text-dark" href="#">
                    <div class="container-fluid pb-5 px-5">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <div class="text-left">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit, mauris vel accumsan feugiat,
                                lorem lacus congue leo, sed maximus tellus est vitae purus. Donec rhoncus, tortor ut rhoncus dapibus,
                                elit nisi convallis turpis, vitae bibendum libero tortor venenatis purus. Aenean placerat massa vitae
                                pretium sollicitudin. Pellentesque sed odio imperdiet, sollicitudin dui in, molestie libero. Aliquam
                                imperdiet elit velit, vitae faucibus lacus ornare non. Quisque eu ex id libero mollis interdum. Vivamus
                                lobortis blandit lorem vel efficitur. Sed et magna arcu. Aliquam lectus augue, dignissim vitae massa vitae,
                                laoreet elementum ipsum. Aenean id ante dolor. Vestibulum euismod mi sed convallis.
                                ...
                            </p>
                        </div>
                        <div class="text-right">
                            Autor: Gallus Anonimus
                        </div>

                    </div>
                </a>
                <a class="text-decoration-none text-dark" href="#">
                    <div class="container-fluid pb-5 px-5">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <div class="text-left">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit, mauris vel accumsan feugiat,
                                lorem lacus congue leo, sed maximus tellus est vitae purus. Donec rhoncus, tortor ut rhoncus dapibus,
                                elit nisi convallis turpis, vitae bibendum libero tortor venenatis purus. Aenean placerat massa vitae
                                pretium sollicitudin. Pellentesque sed odio imperdiet, sollicitudin dui in, molestie libero. Aliquam
                                imperdiet elit velit, vitae faucibus lacus ornare non. Quisque eu ex id libero mollis interdum. Vivamus
                                lobortis blandit lorem vel efficitur. Sed et magna arcu. Aliquam lectus augue, dignissim vitae massa vitae,
                                laoreet elementum ipsum. Aenean id ante dolor. Vestibulum euismod mi sed convallis.
                                ...
                            </p>
                        </div>
                        <div class="text-right">
                            Autor: Gallus Anonimus
                        </div>
                        
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}