{% extends "hagakure/base.html" %}
{% load static %}
{% block body %}

            <div class="row justify-content-center border-bottom border-dark">
                <h2 style="margin:30px">
                    Galeria
                </h2>
            </div>

            <div class="container-fluid">
                <div class="row justify-content-center" style="margin:30px">
                    <div class="col-sm-10">
                        <div class="card-columns">
                                <a href="{% url 'gallery_details' %}" class="text-body">

                                    <div class="card" style="width:400px">

                                        <div class="card-body">
                                            <img class="img-thumbnail card-img-bottom" src="{% static 'img/gallery/gallery1/photo1.jpg' %}" alt="photo1">
                                            <h4 class="card-title text-center">
                                                Galeria1
                                            </h4>                                        
                                        </div>
                                    </div>
                                </a>

                                <a href="{% url 'gallery_details' %}" class="text-body">

                                    <div class="card" style="width:400px">

                                        <div class="card-body">
                                            <img class="img-thumbnail card-img-bottom" src="{% static 'img/gallery/gallery1/photo1.jpg' %}" alt="photo1">
                                            <h4 class="card-title text-center">
                                                Galeria2
                                            </h4>                                        
                                        </div>
                                    </div>
                                </a>

                                <a href="{% url 'gallery_details' %}" class="text-body">

                                    <div class="card" style="width:400px">

                                        <div class="card-body">
                                            <img class="img-thumbnail card-img-bottom" src="{% static 'img/gallery/gallery1/photo1.jpg' %}" alt="photo1">
                                            <h4 class="card-title text-center">
                                                Galeria3
                                            </h4>                                        
                                        </div>
                                    </div>
                                </a>

                                <a href="{% url 'gallery_details' %}" class="text-body">

                                    <div class="card" style="width:400px">

                                        <div class="card-body">
                                            <img class="img-thumbnail card-img-bottom" src="{% static 'img/gallery/gallery1/photo1.jpg' %}" alt="photo1">
                                            <h4 class="card-title text-center">
                                                Galeria4
                                            </h4>                                        
                                        </div>
                                    </div>
                                </a>

                                <a href="{% url 'gallery_details' %}" class="text-body">

                                    <div class="card" style="width:400px">

                                        <div class="card-body">
                                            <img class="img-thumbnail card-img-bottom" src="{% static 'img/gallery/gallery1/photo1.jpg' %}" alt="photo1">
                                            <h4 class="card-title text-center">
                                                Galeria5
                                            </h4>                                        
                                        </div>
                                    </div>
                                </a>

                                <a href="{% url 'gallery_details' %}" class="text-body">

                                    <div class="card" style="width:400px">

                                        <div class="card-body">
                                            <img class="img-thumbnail card-img-bottom" src="{% static 'img/gallery/gallery1/photo1.jpg' %}" alt="photo1">
                                            <h4 class="card-title text-center">
                                                Galeria6
                                            </h4>                                        
                                        </div>
                                    </div>
                                </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}