{% extends "hagakure/base.html" %}
{% load static %}
	{% block header %}
		<header>
			<div class="card border-0" id="banner">
				<div class="card-img-overlay border-bottom border-secondary">
					<div class="container-fluid">
						<div class="row my-4">
							<div class="col align-self-center text-right">
								<img class="img-fluid" src="{% static 'img/kamon.gif' %}">
							</div>
							<div class="col align-self-center text-left">
								<h1 class="display-3">
									Stowarzyszenie<br>
									Sportowe<br>
									Hagakure
								</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-center snappy">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'all_news' %}">Aktualności</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'trainings_list' %}">Treningi</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'articles' %}">Artykuły</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'galleries' %}">Galeria</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'about_us' %}">O nas</a>
						</li>
						<!-- vvv for logged users only vvv -->
						
						<li class="nav-item">
							<a class="nav-link" href="#" hidden>Komunikator</a>
						</li>

						<!-- ^^^ for logged users only ^^^ -->
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
							<div class="dropdown">
								<button type="button" class="btn btn-light dropdown-toggle text-muted" data-toggle="dropdown">
									{{ name }}
								</button>

								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="{% url 'user_details' %}">Mój Profil</a>
									<a class="dropdown-item" href="{% url 'my_trainings' %}">Moje treningi</a>
									<a class="dropdown-item" href="#" hidden>Wiadomości</a>

									{% if user.is_superuser %}
										<div class="dropdown-divider"> </div>
										<a class="dropdown-item" href="admin/">Zarządzaj stroną</a>
										<a class="dropdown-item" href="{% url 'new_user' %}">Dodaj Użytkownika</a>
									{% endif %}

									{% if user.is_staff %}
                                            <div class="dropdown-divider"> </div>
                                            <a class="dropdown-item" href="{% url 'article_list' %}">Zarządzaj artykułami</a>
                                            <a class="dropdown-item" href="{% url 'add_article' %}">Dodaj artykuł</a>
                                            <div class="dropdown-divider"> </div>
                                            <a class="dropdown-item" href="{% url 'news_list' %}">Zarządzaj aktualnościami</a>
                                            <a class="dropdown-item" hfer="#">Dodaj aktualności</a>
											<div class="dropdown-divider"> </div>
                                            <a class="dropdown-item" href="{% url 'galleries_list' %}">Zarządzaj galeriami</a>
                                            <a class="dropdown-item" href="{% url 'gallery_add' %}">Dodaj galerie</a>
                                        {% endif %}

									<div class="dropdown-divider"> </div>
									<a class="dropdown-item" href="{% url 'logout' %}?next={{request.path}}">Wyloguj</a>                                            
								</div>

							</div>
						{% else %}
							<a class="nav-link" href="{% url 'login' %}?next={{request.path}}">
							<span class="glyphicon glyphicon-log-in"></span>Zaloguj</a>
						{% endif %}
					</ul>
				</div>
			</nav>
		</header>
	{% endblock %}

	{% block body %}
		<div class="container-fluid" style="margin-top:30px">
			<div class="row justify-content-center">
				<div class="col-sm-3 order-last">
				
					<h5 class="text-center">Najnowsze artykuły</h5>
					
					{% for article in articles %}
						<div class="container-fluid" style="margin-top:20px">
							<a href="{{ article.get_absolute_url }}" class="text-body">
								<p class="font-weight-bold text-center">
									{{ article.title }}
								</p>
								{{ article.body|safe|truncatewords:30 }}
							</a>
						</div>
					{% endfor %}		
					{% if not articles %}
						<div class="container-fluid" style="margin-top:20px">
							<p class="text-center">Brak artykułów</p>
						</div>
					{% endif %}
				</div>
				<div class="col-sm-7 border-left border-right border-dark">
					<h3 class="text-center">Aktualności</h3>
					<div class="container-fluid" style="margin-top:20px">
						{% for news in all_news %}
						<div class="container-fluid" style="margin-top:20px">
							<a href="{% url 'all_news' %}#{{ news.pk }}" class="text-body">
								<h4 class="text-center">
									{{ news.title }}
								</h4>
								{{ news.body|safe|truncatewords:100 }}
							</a>
						</div>
						{% endfor %}
						{% if not all_news %}
							<div class="container-fluid" style="margin-top:20px">
							<h4 class="text-center">Brak bieżących aktualności</h4>
							</div>
						{% endif %}
					</div>
					
				</div>

				<div class="col-sm-2 order-first">
					<h5 align="center">Treningi w tym tygodniu</h5>
					<div class="container-fluid">
						<table class="table table-sm">

							<th colspan="2" class="text-center thread-dark">{{ weekdays.0.name }}</th>
							{% if day1_trainings %}
								{% for training in day1_trainings %}
									<tr>
										<td class="align-middle">
											{{ training.start_hour|date:"H:i" }}
										</td>
										<td class="text-left">
											<a href="{% url 'trainings_list' %}#{{ training.pk }}" class="text-muted">
												{{ training.discipline.name }}<br>
												{{ training.age_category.name}} 
												{{ training.level.name }}<br>
												{{ training.dojo.name }} 
											</a>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<td colspan="2" class="text-muted text-center">
										Brak treningów
									<td>
								</tr>
							{% endif %}
							
							<th colspan="2" class="text-center thread-dark">{{ weekdays.1.name }}</th>
							{% if day2_trainings %}
								{% for training in day2_trainings %}
									<tr>
										<td class="align-middle">
											{{ training.start_hour|date:"H:i" }}
										</td>
										<td class="text-left">
											<a href="{% url 'trainings_list' %}#{{ training.pk }}" class="text-muted">
												{{ training.discipline.name }}<br>
												{{ training.age_category.name}} 
												{{ training.level.name }}<br>
												{{ training.dojo.name }} 
											</a>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<td colspan="2" class="text-muted text-center">
										Brak treningów
									<td>
								</tr>
							{% endif %}

							<th colspan="2" class="text-center thread-dark">{{ weekdays.2.name }}</th>
							{% if day3_trainings %}
								{% for training in day3_trainings %}
									<tr>
										<td class="align-middle">
											{{ training.start_hour|date:"H:i" }}
										</td>
										<td class="text-left">
											<a href="{% url 'trainings_list' %}#{{ training.pk }}" class="text-muted">
												{{ training.discipline.name }}<br>
												{{ training.age_category.name}} 
												{{ training.level.name }}<br>
												{{ training.dojo.name }} 
											</a>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<td colspan="2" class="text-muted text-center">
										Brak treningów
									<td>
								</tr>
							{% endif %}

							<th colspan="2" class="text-center thread-dark">{{ weekdays.3.name }}</th>
							{% if day4_trainings %}
								{% for training in day4_trainings %}
									<tr>
										<td class="align-middle">
											{{ training.start_hour|date:"H:i" }}
										</td>
										<td class="text-left">
											<a href="{% url 'trainings_list' %}#{{ training.pk }}" class="text-muted">
												{{ training.discipline.name }}<br>
												{{ training.age_category.name}} 
												{{ training.level.name }}<br>
												{{ training.dojo.name }} 
											</a>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<td colspan="2" class="text-muted text-center">
										Brak treningów
									<td>
								</tr>
							{% endif %}

							<th colspan="2" class="text-center thread-dark">{{ weekdays.4.name }}</th>
							{% if day5_trainings %}
								{% for training in day5_trainings %}
									<tr>
										<td class="align-middle">
											{{ training.start_hour|date:"H:i" }}
										</td>
										<td class="text-left">
											<a href="{% url 'trainings_list' %}#{{ training.pk }}" class="text-muted">
												{{ training.discipline.name }}<br>
												{{ training.age_category.name}} 
												{{ training.level.name }}<br>
												{{ training.dojo.name }} 
											</a>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<td colspan="2" class="text-muted text-center">
										Brak treningów
									<td>
								</tr>
							{% endif %}

							<th colspan="2" class="text-center thread-dark">{{ weekdays.5.name }}</th>
							{% if day6_trainings %}
								{% for training in day6_trainings %}
									<tr>
										<td class="align-middle">
											{{ training.start_hour|date:"H:i" }}
										</td>
										<td class="text-left">
											<a href="{% url 'trainings_list' %}#{{ training.pk }}" class="text-muted">
												{{ training.discipline.name }}<br>
												{{ training.age_category.name}} 
												{{ training.level.name }}<br>
												{{ training.dojo.name }} 
											</a>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<td colspan="2" class="text-muted text-center">
										Brak treningów
									<td>
								</tr>
							{% endif %}

							<th colspan="2" class="text-center thread-dark">{{ weekdays.06.name }}</th>
							{% if day7_trainings %}
								{% for training in day7_trainings %}
									<tr>
										<td class="align-middle">
											{{ training.start_hour|date:"H:i" }}
										</td>
										<td class="text-left">
											<a href="{% url 'trainings_list' %}#{{ training.pk }}" class="text-muted">
												{{ training.discipline.name }}<br>
												{{ training.age_category.name}} 
												{{ training.level.name }}<br>
												{{ training.dojo.name }} 
											</a>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<td colspan="2" class="text-muted text-center">
										Brak treningów
									<td>
								</tr>
							{% endif %}

						</table>

					</div>
				</div>
			</div>
		</div>
	{% endblock %}
	
		
	<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>