{% extends "hagakure/base.html" %}
{% load static %}
	{% block header %}
		<header>
			<div class="card border-0" style="height:500px" id="banner">
				<div class="card-img-overlay border-bottom border-secondary">
					<div class="container-fluid">
						<div class="row my-4">
							<div class="col align-self-center text-right">
								<img class="img-fluid" src="{% static 'img/kamon.gif' %}">
							</div>
							<div class="col align-self-center text-left">
								<h1 class="display-3">
									Stowarzyszenie<br>
									Sportowe<br>
									Hagakure
								</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-center">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'news' %}">Aktualności</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'trainings_list' %}">Treningi</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'articles' %}">Artykuły</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'galleries' %}">Galeria</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'about_us' %}">O nas</a>
						</li>
						<!-- vvv for logged users only vvv -->
						
						<li class="nav-item">
							<a class="nav-link" href="#" hidden>Komunikator</a>
						</li>

						<!-- ^^^ for logged users only ^^^ -->
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
							<div class="dropdown">
								<button type="button" class="btn btn-light dropdown-toggle text-muted" data-toggle="dropdown">
									{{ name }}
								</button>

								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="{% url 'user_details' %}">Mój Profil</a>
									<a class="dropdown-item" href="{% url 'my_trainings' %}">Moje treningi</a>
									<a class="dropdown-item" href="#" hidden>Wiadomości</a>

									{% if user.is_superuser %}
										<div class="dropdown-divider"> </div>
										<a class="dropdown-item" href="admin/">Zarządzaj stroną</a>
										<a class="dropdown-item" href="#">Dodaj Użytkownika</a>
									{% endif %}

									{% if user.is_staff %}
										<div class="dropdown-divider"> </div>
										<a class="dropdown-item" href="#">Dodaj artykuł</a>
										<a class="dropdown-item" hfer="#">Dodaj aktualności</a>
									{% endif %}

									<div class="dropdown-divider"> </div>
									<a class="dropdown-item" href="{% url 'logout' %}">Wyloguj</a>                                            
								</div>

							</div>
						{% else %}
							<a class="nav-link" href="{% url 'login' %}">
							<span class="glyphicon glyphicon-log-in"></span>Zaloguj</a>
						{% endif %}
					</ul>
				</div>
			</nav>
		</header>
	{% endblock %}

	{% block body %}
		<div class="container-fluid" style="margin-top:30px">
			<div class="row justify-content-center">
				<div class="col-sm-3 order-last">
				
					<h5 class="text-center">Najnowsze artykuły</h5>
					
					<div class="container-fluid" style="margin-top:20px">
						<a href="#" class="text-body">
							<p class="font-weight-bold text-center">
								Lorem ipsum dolor sit amet.
							</p>
							{% lorem %}
						</a>
					</div>
					
					<div class="container-fluid" style="margin-top:20px">
						<a href="#" class="text-body">
							<p class="font-weight-bold text-center">
								Lorem ipsum dolor sit amet.
							</p>
							{% lorem %}
						</a>
					</div>
					

					<div class="container-fluid" style="margin-top:20px">
						<a href="#" class="text-body">
							<p class="font-weight-bold text-center">
								Lorem ipsum dolor sit amet.
							</p>
							{% lorem %}
						</a>
					</div>
					
					
					<div class="container-fluid" style="margin-top:20px">
						<a href="#" class="text-body">
							<p class="font-weight-bold text-center">
								Lorem ipsum dolor sit amet.
							</p>
							{% lorem %}
						</a>
					</div>
					
					
				</div>
				<div class="col-sm-7 border-left border-right border-dark">
					<h3 class="text-center">Aktualności</h3>
					<div class="container-fluid" style="margin-top:20px">
						<div class="container-fluid" style="margin-top:20px">
							<a href="#" class="text-body">
								<h4 class="text-center">
									Lorem ipsum dolor sit amet.
								</h4>
								{% lorem %}
							</a>
						</div>
					</div>
					
					<div class="container-fluid" style="margin-top:20px">
						<div class="container-fluid" style="margin-top:20px">
							<a href="#" class="text-body">
								<h4 class="text-center">
									Lorem ipsum dolor sit amet.
								</h4>
								{% lorem %}
							</a>
						</div>
					</div>
						
					<div class="container-fluid" style="margin-top:20px">
						<div class="container-fluid" style="margin-top:20px">
							<a href="#" class="text-body">
								<h4 class="text-center">
									Lorem ipsum dolor sit amet.
								</h4>
								{% lorem %}
							</a>
						</div>
					</div>
						
					<div class="container-fluid" style="margin-top:20px">
						<div class="container-fluid" style="margin-top:20px">
							<a href="#" class="text-body">
								<h4 class="text-center">
									Lorem ipsum dolor sit amet.
								</h4>
								{% lorem %}
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-2 order-first">
					<h5 align="center">Treningi w tym tygodniu</h5>
					<div class="container-fluid">
						<table class="table table-sm">

							<th colspan="2" class="text-center thread-dark">Poniedziałek</th>
							{% if monday_trainings %}
								{% for training in monday_trainings %}
									<tr>
										<td class="align-middle">
											{{ training.start_hour|date:"H:i" }}
										</td>
										<td class="text-left">
											<a href="{% url 'trainings_list' %}#{{ training.pk }}" class="text-muted">
												{{ training.discipline.name }}<br>
												{{ training.age_category.name}} 
												{{ training.level.name }}<br>
												{{ training.dojo.name }} 
											</a>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<td colspan="2" class="text-muted text-center">
										Brak treningów
									<td>
								</tr>
							{% endif %}
							
							<th colspan="2" class="text-center">Wtorek</th>
							{% if tuesday_trainings %}
								{% for training in tuesday_trainings %}
									<tr>
										<td class="align-middle">
											{{ training.start_hour|date:"H:i" }}
										</td>
										<td class="text-left">
											<a href="{% url 'trainings_list' %}#{{ training.pk }}" class="text-muted">
												{{ training.discipline.name }}<br>
												{{ training.age_category.name}} 
												{{ training.level.name }}<br>
												{{ training.dojo.name }} 
											</a>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr colspan="2" class="text-muted">Brak treningów</tr>
							{% endif %}

							<th colspan="2" class="text-center">Środa</th>
							{% if wednesday_trainings %}
								{% for training in wednesday_trainings %}
									<tr>
										<td class="align-middle">
											{{ training.start_hour|date:"H:i" }}
										</td>
										<td class="text-left">
											<a href="{% url 'trainings_list' %}#{{ training.pk }}" class="text-muted">
												{{ training.discipline.name }}<br>
												{{ training.age_category.name}} 
												{{ training.level.name }}<br>
												{{ training.dojo.name }} 
											</a>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr colspan="2" class="text-muted">Brak treningów</tr>
							{% endif %}

							<th colspan="2" class="text-center">Czwartek</th>
							{% if thursday_trainings %}
								{% for training in thursday_trainings %}
									<tr>
										<td class="align-middle">
											{{ training.start_hour|date:"H:i" }}
										</td>
										<td class="text-left">
											<a href="{% url 'trainings_list' %}#{{ training.pk }}" class="text-muted">
												{{ training.discipline.name }}<br>
												{{ training.age_category.name}} 
												{{ training.level.name }}<br>
												{{ training.dojo.name }} 
											</a>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr colspan="2" class="text-muted">Brak treningów</tr>
							{% endif %}

							<th colspan="2" class="text-center">Piątek</th>
							{% if friday_trainings %}
								{% for training in friday_trainings %}
									<tr>
										<td class="align-middle">
											{{ training.start_hour|date:"H:i" }}
										</td>
										<td class="text-left">
											<a href="{% url 'trainings_list' %}#{{ training.pk }}" class="text-muted">
												{{ training.discipline.name }}<br>
												{{ training.age_category.name}} 
												{{ training.level.name }}<br>
												{{ training.dojo.name }} 
											</a>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr colspan="2" class="text-muted">Brak treningów</tr>
							{% endif %}

							<th colspan="2" class="text-center">Sobota</th>
							{% if saturday_trainings %}
								{% for training in saturday_trainings %}
<tr>
										<td class="align-middle">
											{{ training.start_hour|date:"H:i" }}
										</td>
										<td class="text-left">
											<a href="{% url 'trainings_list' %}#{{ training.pk }}" class="text-muted">
												{{ training.discipline.name }}<br>
												{{ training.age_category.name}} 
												{{ training.level.name }}<br>
												{{ training.dojo.name }} 
											</a>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr colspan="2" class="text-muted">Brak treningów</tr>
							{% endif %}

							<th colspan="2" class="text-center">Niedziela</th>
							{% if sunday_trainings %}
								{% for training in sunday_trainings %}
									<tr>
										<td class="align-middle">
											{{ training.start_hour|date:"H:i" }}
										</td>
										<td class="text-left">
											<a href="{% url 'trainings_list' %}#{{ training.pk }}" class="text-muted">
												{{ training.discipline.name }}<br>
												{{ training.age_category.name}} 
												{{ training.level.name }}<br>
												{{ training.dojo.name }} 
											</a>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr colspan="2" class="text-muted">Brak treningów</tr>
							{% endif %}

						</table>

					</div>
				</div>
			</div>
		</div>
	{% endblock %}
	
		
	<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>