{% extends "hagakure/base.html" %}

    {% block body %}
        <div class ="container-fluid p-3 text-center bg-light border-top border-bottom border-dark">
            <h1>Aktualności</h1>
        </div>
        <div class="container-fluid" style="margin-top:30px">
            <div class="row justify-content-center">
                <div class="col-sm-1 text-center border-right border-left border-dark">
                    <h4>Filtruj</h4>
                    <p>
                        2021 <br>
                        2020
                        
                    </p>
                </div>
                <div class="col-sm-11 text-center border-right border-left border-dark">
                    <div class ="container-fluid pb-5 px-5">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut lectus non lorem interdum auctor eget sit amet lacus.
                            Sed porta sodales libero nec congue. Fusce blandit, ipsum et laoreet bibendum, eros ante congue mauris, in suscipit quam
                            risus quis ante. Cras nunc leo, maximus at vulputate quis, efficitur luctus magna. Praesent id augue vitae tortor facilisis
                            hendrerit eget ac ex. Duis cursus porta erat, non pharetra massa malesuada non. Donec metus risus, pulvinar sit amet turpis
                            sit amet, porta volutpat risus. Suspendisse pellentesque congue mi. Curabitur fringilla, lacus vel ultrices aliquet, urna dui
                            elementum dolor, quis posuere lacus enim eu tortor. Praesent porttitor sapien justo, sed accumsan augue ornare at. Cras in tellus
                            semper lacus laoreet sodales. Cras mollis sagittis tortor, quis feugiat est. Vestibulum ante ipsum primis in faucibus orci luctus
                            et ultrices posuere cubilia curae; 
                        </p>
                    </div>
                    <div class ="container-fluid pb-5 px-5">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p>
                            Lorem ipsum dolor sit amet. Consectetur adipiscing elit. In diam elit, aliquet ornare interdum eu, convallis vitae massa.
                            In eu placerat ex, sit amet iaculis eros. Quisque non tempor sapien. Curabitur tortor felis, placerat et vestibulum id,
                        </p>
                    </div>
                    <div class ="container-fluid pb-5 px-5">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p>
                            Lorem ipsum dolor sit amet. Consectetur adipiscing elit. In diam elit, aliquet ornare interdum eu, convallis vitae massa.
                            In eu placerat ex, sit amet iaculis eros. Quisque non tempor sapien. Curabitur tortor felis, placerat et vestibulum id,
                            bibendum dictum sem. Maecenas ac diam felis. In a erat bibendum, interdum. Donec metus risus, pulvinar sit amet turpis
                            sit amet, porta volutpat risus. Suspendisse pellentesque congue mi. Curabitur fringilla, lacus vel ultrices aliquet, urna dui
                        </p>
                    </div>
                    <div class ="container-fluid pb-5 px-5">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p>
                            Lorem ipsum dolor sit amet. Consectetur adipiscing elit. In diam elit, aliquet ornare interdum eu, convallis vitae massa.
                            In eu placerat ex, sit amet iaculis eros. Quisque non tempor sapien. Curabitur tortor felis, placerat et vestibulum id,
                            bibendum dictum sem. Maecenas ac diam felis. In a erat bibendum, interdum
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}