{% extends "hagakure/base.html" %}
{% load static %}
{% block body %}

    <div class ="container-fluid p-3 text-center bg-light border-top border-bottom border-dark">
        <h1>Treningi</h1>
        <ul class="nav justify-content-center">
        <li class="nav-item">
                <a class="btn btn-light" href="{% url 'trainings' %}">Wszystkie</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light" href="#">Judo - dzieci</a>
            </li>
             <li class="nav-item">
                <a class="btn btn-light" href="#">Judo - młodzież</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light" href="#">Judo - dorośli</a>
            </li>
                <li class="nav-item">
                <a class="btn btn-light" href="#">Samobrona</a>
            </li>
            </li>
                <li class="nav-item">
                <a class="btn btn-light active" href="#">Trenerzy</a>
            </li>
        </ul> 
    </div>
    <div class="container-fluid">
		<div class="row justify-content-center border-bottom border-dark" style="margin-top:30px">
            <div class="col-sm-8">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td class="align-middle border">
                                <img src="{% static 'hagakure/img/no-avatar.png' %}" style="height:300px">
                            </td>
                            <td class="align-middle">
                                <h4>Trener Trener</h4>
                                <h6>Judo</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat lacus non dui bibendum, 
                                    auctor tempor lectus egestas. Praesent in augue maximus, vulputate augue eu, interdum mauris. Integer 
                                    viverra justo sem, id tristique mauris tincidunt vitae. Aenean est elit, viverra at aliquam sed, 
                                    imperdiet et metus. Aenean malesuada pellentesque velit.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle">
                                <img src="{% static 'hagakure/img/no-avatar.png' %}" style="height:300px">
                            </td>
                            <td class="align-middle">
                                <h4>Trener Trener</h4>
                                <h6>Judo</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat lacus non dui bibendum, 
                                    auctor tempor lectus egestas. Praesent in augue maximus, vulputate augue eu, interdum mauris. Integer 
                                    viverra justo sem, id tristique mauris tincidunt vitae. Aenean est elit, viverra at aliquam sed, 
                                    imperdiet et metus. Aenean malesuada pellentesque velit.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-middle">
                                <img src="{% static 'hagakure/img/no-avatar.png' %}" style="height:300px">
                            </td>
                            <td class="align-middle">
                                <h4>Trener Trener</h4>
                                <h6>Judo</h6>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat lacus non dui bibendum, 
                                    auctor tempor lectus egestas. Praesent in augue maximus, vulputate augue eu, interdum mauris. Integer 
                                    viverra justo sem, id tristique mauris tincidunt vitae. Aenean est elit, viverra at aliquam sed, 
                                    imperdiet et metus. Aenean malesuada pellentesque velit.
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}