{% extends "hagakure/base.html" %}
{% load static %}
{% block body %}

    <div class ="container-fluid p-3 text-center bg-light border-top border-bottom border-dark">
        <h1>Wszystkie artykuły</h1>
    </div>

    <div class="container-fluid" style="margin-top:30px">
        <form action="" method="POST">
            {% csrf_token %}
            <table class="table table-hover">
                <thead class="text-center">
                    <tr>
                        <th class="w-2">Tytuł</th>
                        <th class="w-6">Streszczenie</th>
                        <th class="w-1">Autor</th>
                        <th class="w-1">Status</th>
                        <th class="w-1">Opcje</th>
                    </tr>
                </thead>
                
                <tbody class="text-left">
                    {% for article in articles %}
                        <tr>
                            <td class="align-middle">
                                <a class="text-body" href="{{ article.get_absolute_url }}" target="_blank">
                                    {{ article.title }}
                                </a>
                                
                            </td>

                            <td class="align-middle">
                                <a class="text-body" href="{{ article.get_absolute_url }}" target="_blank">
                                    {{ article.synopsis|safe }}
                                </a>
                            </td>
                            
                            <td class="align-middle text-center">{{ article.author }}</td>

                            <td class="align-middle text-left">
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value="{{ article.pk }}"
                                        id="published"
                                        {% if article.is_published %}
                                            checked
                                        {% endif %}
                                        name="is_published"
                                    >
                                    <label class="form-check-label" for="published">
                                        Opublikowany
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value="{{ article.pk }}" 
                                        id="public"
                                        {% if article.is_public %}
                                            checked
                                        {% endif %}
                                        name="is_public"
                                    >
                                    <label class="form-check-label" for="public">
                                        Publiczny
                                    </label>
                                </div>
                            </td>

                            <td class="align-middle text-center">
                                <a class="btn btn-secondary" href="{% url 'edit_article' article.pk %}">Edytuj </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5">
                            <div class="container-fluid text-right">
                                <button type="submit" class="btn btn-danger">Zapisz zmiany</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

{% endblock %}