{% extends "hagakure/base.html" %}
{% load static %}
{% block body %}
    
        {% if messages %}
            <div class="row justify-content-center">
                <div class="col-sm-6 align-self-center text-center">
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}


        <div class="row justify-content-center pt-3">
            <div class="col-sm-6 align-self-center text-center">
                <p>Dodaj nowego urzytkownika</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-4 align-self-center">
                <form action="" class="form" method="POST">
                {% csrf_token %}
                    <table class="table table-borderless">
                        <tr>
                            <th class="align-middle text-right">
                                <label for="email" class="font-weight-bold">Adres e-mail:</label>
                            </th>
                            <td>
                                <input type="email" name="email" class="form-control" placeholder="e-mail" id="email" required>
                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle text-right">
                                <label for="email" class="font-weight-bold">Współpracownik:</label>
                            </th>
                            <td>
                                <input type="checkbox" name="is_staff" class="form-checkbox">
                            </td>
                        </tr>                               

                    </table>
                    <div class="form-group text-center">
                        <input type="password" name="password1" class="form-control" value="{{ password }}" hidden readonly>
                        <input type="password" name="password2" class="form-control" value="{{ password }}" hidden readonly>
                        <input type="submit" class="btn btn-secondary" value="Dodaj!">
                    </div>
                </form>
            </div>
        </div>

{% endblock %}